<div id="IDdiv_1" class="value_container animate__animated" @click="run( 1)">
  <div style="display: none" id="insideDiv" class="animate__animated"></div>
  <div style="display: none" id="insideDiv1" class="animate__animated"></div>
  <div style="display: none" id="insideDiv2" class="animate__animated"></div>
  <div id="IDdiv">1</div>
</div>

<div id="IDdiv_2" class="value_container animate__animated" @click="run( 2)">
  <div style="display: none" id="insideDiv" class="animate__animated"></div>
  <div style="display: none" id="insideDiv1" class="animate__animated"></div>
  <div style="display: none" id="insideDiv2" class="animate__animated"></div>
  <div id="IDdiv">2</div>
</div>

<div id="IDdiv_3" class="value_container animate__animated" @click="run( 3)">
  <div style="display: none" id="insideDiv" class="animate__animated"></div>
  <div style="display: none" id="insideDiv1" class="animate__animated"></div>
  <div style="display: none" id="insideDiv2" class="animate__animated"></div>
  <div id="IDdiv">3</div>
</div>
