<div
  id="IDdiv_4"
  class="value_container animate__animated"
  @click="run( 4)"
>
  <div style="display: none" id="insideDiv" class="animate__animated"></div>
  <div style="display: none" id="insideDiv1" class="animate__animated"></div>
  <div style="display: none" id="insideDiv2" class="animate__animated"></div>
  <div id="IDdiv">4</div>
</div>

<div
  id="IDdiv_5"
  class="value_container animate__animated"
  @click="run( 5)"
>
  <div style="display: none" id="insideDiv" class="animate__animated"></div>
  <div style="display: none" id="insideDiv1" class="animate__animated"></div>
  <div style="display: none" id="insideDiv2" class="animate__animated"></div>
  <div id="IDdiv">5</div>
</div>

<div
  id="IDdiv_6"
  class="value_container animate__animated"
  @click="run( 6)"
>
  <div style="display: none" id="insideDiv" class="animate__animated"></div>
  <div style="display: none" id="insideDiv1" class="animate__animated"></div>
  <div style="display: none" id="insideDiv2" class="animate__animated"></div>
  <div id="IDdiv">6</div>
</div>
