<div
  id="IDdiv_7"
  class="value_container animate__animated"
  @click="run( 7)"
>
  <div style="display: none" id="insideDiv" class="animate__animated"></div>
  <div style="display: none" id="insideDiv1" class="animate__animated"></div>
  <div style="display: none" id="insideDiv2" class="animate__animated"></div>
  <div id="IDdiv">7</div>
</div>

<div
  id="IDdiv_8"
  class="value_container animate__animated"
  @click="run( 8)"
>
  <div style="display: none" id="insideDiv" class="animate__animated"></div>
  <div style="display: none" id="insideDiv1" class="animate__animated"></div>
  <div style="display: none" id="insideDiv2" class="animate__animated"></div>
  <div id="IDdiv">8</div>
</div>

<div
  id="IDdiv_9"
  class="value_container animate__animated"
  @click="run( 9)"
>
  <div style="display: none" id="insideDiv" class="animate__animated"></div>
  <div style="display: none" id="insideDiv1" class="animate__animated"></div>
  <div style="display: none" id="insideDiv2" class="animate__animated"></div>
  <div id="IDdiv">9</div>
</div>
